---
import '@/styles/global.css'
import { Button } from "@/components/ui/button"
import ImageEditor from '@/components/ImageEditor'
---

<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>لوحة جدة</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<style is:global>
		html, body {
			font-family: "IBM Plex Sans Arabic";
			height: 100%;
		}
	</style>
	<body class="antialiased bg-gray-100 flex flex-col">
		<header class="p-3">
			<h2 class="font-black text-4xl">لوحة جدة</h2>
		</header>
		<main class="container my-2 p-3">
			<ImageEditor client:load />
		</main>
		<footer class="mt-auto p-3 text-center">
			<span class="leading-3">Very Creative Mashallah 
				<a class="underline decoration-blue-700 text-blue-400" href="https://x.com/albobah">@albobah</a>
			</span>
		</footer>
	</body>
</html>
