---
import '@/styles/global.css'
import { Button } from "@/components/ui/button"
import ImageEditor from '@/components/ImageEditor'
---

<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.icon" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>لوحة جدة</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<style is:global>
		html, body {
			font-family: "IBM Plex Sans Arabic";
			height: 100%;
		}
	</style>
	<body class="antialiased bg-gray-100 flex flex-col">
		<header class="p-3 flex justify-between bg-white">
			<h2 class="font-black text-4xl px-3">لوحة جدة</h2>
			<a class="px-3" href="https://b-sale.com/لوحة-جدة/p1751068374">
				<svg xmlns="http://www.w3.org/2000/svg" class="size-8" viewBox="0 0 24 24">
					<path fill="currentColor" d="M19 14.25a.75.75 0 0 1 .75.75v6.25H21a.75.75 0 0 1 0 1.5H3a.75.75 0 0 1 0-1.5h1.25V15a.75.75 0 0 1 1.5 0v6.25h12.5V15a.75.75 0 0 1 .75-.75" opacity=".5"></path><path fill="currentColor" d="M16.528 2H7.472c-1.203 0-1.804 0-2.287.299c-.484.298-.753.836-1.29 1.912L2.49 7.76c-.324.82-.608 1.786-.062 2.479A2 2 0 0 0 6 9a2 2 0 1 0 4 0a2 2 0 1 0 4 0a2 2 0 1 0 4 0a2 2 0 0 0 3.571 1.238c.546-.693.262-1.659-.062-2.479l-1.404-3.548c-.537-1.076-.806-1.614-1.29-1.912C18.332 2 17.731 2 16.528 2"></path>
				</svg>
			</a>
		</header>
		<main class="container my-2 p-3">
			<ImageEditor client:load />
		</main>
		<footer class="mt-auto p-3 text-center">
			<span class="leading-3">Very Creative Mashallah 
				<a class="underline decoration-blue-700 text-blue-400" href="https://x.com/albobah">@albobah</a>
			</span>
		</footer>
		<script src="https://unpkg.com/@resvg/resvg-wasm" is:inline></script>
		<script is:inline>
			;(async function () {
				// The Wasm must be initialized first
				await resvg.initWasm(fetch('https://unpkg.com/@resvg/resvg-wasm/index_bg.wasm'))
			})()
		</script>
	</body>
</html>
